.cpu {
  position: absolute;
  width: 700px;
  height: 29px;
  left: 68px;
  top: 900px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  
  position: absolute;
  width: 700px;
  height: 150px;
  left: 42px;
  top: 900px;

  background: #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
