.processos{

position: absolute;
width: 200px;
height: 45.76px;
left: 796.61px;
top: 300px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
overflow:auto;

color: #000000;


position: absolute;
width: 576px;
height: 204px;
left: 782px;
top: 300px;

background: #9F4F21;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
